{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="new-post-view">
        <h1>New post</h1>
        <form id="compose-form">
            <textarea class="form-control" id="new-post-body" placeholder="What do you want to share today?"></textarea>
            <input type="submit" class="btn btn-primary" id="submit-new-post"/>
        </form>
    </div>

    <div id="all-posts-view">
        <h1>All posts</h1>
    </div>
    
{% endblock %}



{% block script %}
    <script src="{% static 'network/network_all_posts.js' %}"></script>
{% endblock %}
