body {
    padding: 10px;
}

.container{
    border-color: blue;
    border-radius:15px;
}

.row{
    border-radius:5px;
    padding:1%;
    margin:1%;
}

.card-container-blake{
    background-color: blue;
}

h3.card-subtitle{
    background-color:blue;
}

.mail_table{
    border: 1px solid;
}
