textarea {
    min-height: 400px;
}

.read {
    background-color: lightgray;
}

.mail_table{
    border: 3px solid;
}

.mail_table_row{
}

.mail_table_cell{
    padding:10px;
    border-bottom: 1px solid;
}


.mail_table_cell:nth-child(1){
    width:20%;
}

.mail_table_cell:nth-child(2){
    width:50%;
}

.mail_table_cell:nth-child(3){
    width:15%;
}

