{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create a new page</h1>
    <p class="error">
        {{error_page_already_exists|safe}}
    </p>
    <p>
        Title of new wiki page:
        <form action="{% url 'new_page' %}" method="get">
            <input class="title" type="text" name="title" placeholder="Insert title">
        <br>

        Content of new wiki page (Markdown format):
        <textarea class="textarea" id="content" name="content" rows="25" cols="1" placeholder="Insert content"></textarea>
        <br>
        
        <button class="button" type = "submit" value = Click name = "bouton_add">Create a new page</button>
        </form>
    </p>

{% endblock %}