{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
        <ul>
            {% for listing in listings %}
                <li>
                    <a href="{% url 'edit_listing' listing.id %}">
                        Item number {{ listing.id }} : {{ listing.title }}, ${{ listing.price }}
                        <br/>
                        <img src="{{ listing.picture }}" alt="Picture of the listing" style= "max-width:10%">                       
                    </a>                    
                </li>
            {% endfor %}
        </ul>
{% endblock %}