{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
            {% for listing in listings %}

                <a href="{% url 'listing' listing.id %}"></a>
                    <div class = "card" style = "max-width: 80%;">
                        <img class="card-img-top" src="{{ listing.picture }}" alt="Picture of the listing">
                        <div class="card-body">
                            <p class="card-title">
                                {{ listing.title }}
                            </p>
                            <p class="card-text">
                                ${{ listing.price }}
                            </p>
                            <p class="card-text">
                                ${{ listing.price }}
                            </p>
                            <p class="card-text">
                                ${{ listing.date }}
                            </p>
                        </div>
                    </div>
                </a> 

            {% endfor %}
        
{% endblock %}