{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
        <ul>
            {% for listing in watchlist_listings %}
                <li>
                    <a href="{% url 'edit_listing' listing.auctions.id %}">
                        Item number {{ listing.id }} : {{ listing.auctions.title }}, ${{ listing.auctions.price }}
                        <br/>
                        <img src="{{ listing.auctions.picture }}" alt="Picture of the listing" style= "max-width:10%">
                    </a>    
                </li>
            {% endfor %}
        </ul>
{% endblock %}